@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&display=swap');

* {
  padding: 0;
  margin: 0;
}
header {
  display: flex;
  background-color: #f1f1f1a1;
  height: 100px;
  font-family: 'Poppins', sans-seri;
  width: 100%;
  position: absolute;
}
header img {
  width: 150px;
  position: absolute;
  top: 5px;
  left: 10px;
}

.linksHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Poppins', sans-seri;
  font-weight: 500;
}

header a {
  margin: 0px 20px;
  color: #008037;
  text-decoration: none;
}

header a:hover {
  color: #000;
  transform: scale(1.1);
}

header a:nth-child(4) {
  color: #f1f1f1;
  background-color: #008037;
  width: 120px;
  height: 50px;
  font-size: large;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 15px;
  margin: 0px 40px;
}

header a:nth-child(4):hover {
  background-color: #000000;
  transition: 0.5s;
  color: #ffffff;
}

.about {
  height: 1000px;
}
.about img {
  width: 100%;
}

.about .banner {
  background-color: #000;
  top: 0;
  height: 200px;
  position: absolute;
}
.about h1 {
  position: absolute;
  font-size: 40px;
  font-family: 'Poppins', sans-seri;
  top: 250px;
  left: 100px;
  color: #fff;
}
.about h2 {
  position: absolute;
  font-size: 30px;
  top: 300px;
  font-weight: 100;
  left: 100px;
  color: #fff;
}
.tag1 {
  height: 400px;
  border: 1px solid #fff;
  position: absolute;
  top: 200px;
  left: 1000px;
  background-color: rgb(255, 255, 255);
  width: 300px;
}
.tag1 > p:nth-child(2) {
  position: absolute;
  top: 130px;
  left: 90px;
  padding: 10px;
  color: #fff;
  opacity: 80%;
  border-radius: 20px;
  background-color: #20af5e;
}

.tag1 > p:nth-child(3) {
  padding: 60px 10px;
  font-size: 20px;
  text-align: center;
}
.tag1 button {
  padding: 10px 50px;
  font-size: 13px;
  margin: 0 64px;
  background-color: #20af5e;
  color: #f1f1f1;
  border: none;
  border-radius: 20px;
}
.tag1 button:hover {
  background-color: #1c683d;
  cursor: pointer;
  color: #ffffff;
}
.tag2 {
  height: 400px;
  position: absolute;
  top: 200px;
  border: 1px solid white;
  left: 1400px;
  background-color: rgb(255, 255, 255);
  width: 300px;
}

.tag2 > p:nth-child(2) {
  position: absolute;
  top: 120px;
  left: 70px;
  padding: 10px;
  color: #fff;
  opacity: 90%;
  border-radius: 20px;
  background-color: #20af5e;
}

.tag2 > p:nth-child(3) {
  padding: 60px 10px;
  font-size: 20px;
  text-align: center;
}
.tag2 button {
  padding: 10px 50px;
  font-size: 13px;
  margin: 0 64px;
  background-color: #20af5e;
  color: #f1f1f1;
  border: none;
  border-radius: 20px;
}
.tag2 button:hover {
  background-color: #1c683d;
  cursor: pointer;
  color: #ffffff;
}
.bannertransp {
  height: 550px;
  opacity: 30%;
  position: absolute;
  top: 200px;
  background-color: rgb(0, 0, 0);
  width: 100%;
}
.container .banner2 {
  height: 250px;
  opacity: 70%;
  position: absolute;
  top: 750px;
  background-color: rgb(0, 114, 47);
  width: 100%;
}
.container p {
  position: absolute;
  top: 800px;
  color: #fff;
  font-family: 'Poppins', sans-seri;
  font-size: 20px;
  padding: 0 40px;
  text-align: justify;
}

.footer-sup {
  display: flex;
  font-size: 20px;
  align-items: center;
  border-top: 1px solid green;
  border-bottom: 1px solid green;
  height: 200px;
}

.footer-sup img {
  width: 200px;
  margin-right: 100px;
}
.footer-sup h3 {
  font-size: 25px;
  color: #2b4d3f;
}

.footer-sup p {
  color: #3a8365;
  margin-top: 10px;
  padding-right: 15px;
}

.footer-inf {
  background-color: #109c62;
  height: 100%;
  padding: 50px 100px 100px 100px;
  display: flex;
  font-size: 20px;
  justify-content: space-around;
}
.footer-inf h3 {
  color: #f1f1f1;
  font-size: 30px;
  margin-bottom: 20px;
}

.footer-inf p {
  margin-top: 10px;
  color: #f1f1f1;
  background-color: #109c62;
}
.footer-inf a,
.tags a {
  text-decoration: none;
}
