/* --INTRO SECTION */
.intro-container {
  height: 90vh;
  position: relative;
}

.intro-content {
  height: 90vh;
}

.doctor-background {
  height: 90vh;
  position: absolute;
  z-index: -1;
  right: 3rem;
}

.intro-summary {
  width: 40%;
}

.intro-logo {
  max-width: 40rem;
  padding-top: 10rem;
}

.intro-summary {
  color: #fff;
  font-size: 3rem;
  position: relative;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  margin-top: 2rem;
}

.intro-summary::before {
  content: "";
  background-color: var(--green-500);
  position: absolute;
  top: -3.2rem;
  left: -54rem;
  width: 200%;
  height: 180%;
  border-radius: 0.5rem;
  opacity: 0.8;
  z-index: -1;
}

/* --SERVICES SECTION */
.services-container {
  height: 70vh;
  display: flex;
  background: -webkit-linear-gradient(left, #338092, #1bcc97);
  background: -moz-linear-gradient(left, #338092, #1bcc97);
  background: -ms-linear-gradient(left, #338092, #1bcc97);
  background: -o-linear-gradient(left, #338092, #1bcc97);
  background: linear-gradient(to right, #338092, #1bcc97);
}

.services-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 6rem;
}

.services-title {
  font-size: 5rem;
  color: var(--black-400);
}

.services-title span {
  color: #fff;
}

.services-subtitle {
  color: #fff;
  font-size: 2.4rem;
  font-family: "Lato", sans-serif;
}

.services-items {
  display: flex;
  gap: 6rem;
}

.services-items a {
  width: 20rem;
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.services-items a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.services-items p {
  font-size: 1.8rem;
  color: #fff;
}

.services-items img {
  height: 8rem;
  /* filter: invert(100%) sepia(6%) saturate(2%) hue-rotate(207deg)
    brightness(109%) contrast(100%); */
}
