@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

button {
    all: unset;
    background-color: #008037;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1a1;
    padding: 0 1rem;
    height: 5rem;
}

header > a img {
    width: 100%;
}

header > a {
    min-width: 8rem;
    max-width: 9rem;
    width: 20%;
}

header .linksHeader {
    display: flex;
    gap: 1.5rem;
    font-weight: 500;
}

header .linksHeader a {
    color: #008037;
}

header .linksHeader a:hover {
    color: #000;
    transform: scale(1.1);
}

header button {
    color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

header button:hover {
    opacity: 80%;
    transition: 0.2s;
}

.home {
    height: calc(100vh - 5rem);
}
.home .image-hero {
    width: 70%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    right: 0;
    z-index: -1;
}
.home .home-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
}
.home .home-intro img {
    width: 50%;
    max-width: 25rem;
    margin-left: 1rem;
}
.home .title {
    padding: 1rem;
    max-width: 35rem;
    opacity: 50%;
    font-size: 2rem;
    border-radius: 0rem 1.25rem 1.25rem 0;
    background-color: #14774f;
    color: #ffffff;
}
.services {
    padding: 90px;
    height: 400px;
    background: -webkit-linear-gradient(left, #338092, #1bcc97);
    background: -moz-linear-gradient(left, #338092, #1bcc97);
    background: -ms-linear-gradient(left, #338092, #1bcc97);
    background: -o-linear-gradient(left, #338092, #1bcc97);
    background: linear-gradient(to right, #338092, #1bcc97);
}
.services h1 {
    font-size: 50px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 40px;
}
.services h1 span {
    color: #303a36;
}
.services h2 {
    width: 58.0625rem;
    margin: 0 auto;
    color: aliceblue;
    font-weight: normal;
}
.services .results,
.boletos,
.dados,
.preparo {
    width: 100%;
    background-color: none;
    padding: 4.6875rem 3.125rem;
    margin-top: 3.125rem;
    border-radius: 1.25rem 1.25rem 0 0;
    font-size: 1.25rem;
}
.services .results:hover,
.boletos:hover,
.dados:hover,
.preparo:hover {
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
    padding: 3.75rem 3.125rem;
    background: -webkit-linear-gradient(left, #338092, #1faa80);
    background: -moz-linear-gradient(left, #338092, #1faa80);
    background: -ms-linear-gradient(left, #338092, #1faa80);
    background: -o-linear-gradient(left, #338092, #1faa80);
    background: linear-gradient(to right, #338092, #1faa80);
}

.tags p {
    color: aliceblue;
}
.services ion-icon {
    color: #000000;
    background-color: #fff;
    padding: 1.25rem;
    border-radius: 3.125rem;
    font-size: 3.125rem;
    margin-bottom: 1.25rem;
}
.tags {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.tags a {
    all: unset;
}

.estrutura {
    display: flex;
    height: 56.25rem;
}
.estrutura p {
    font-size: 40px;
    color: #808080;
    font-weight: bold;
    position: absolute;
    margin: 300px 0 0 50px;
}

.estrutura > p:nth-child(2) {
    color: #109c62;
    margin: 340px 0 0 50px;
}
.estrutura span {
    font-size: 30px;
    color: rgb(88, 85, 85);
    width: 30%;
    margin: 400px 0 0 50px;
    height: 300px;
    text-align: justify;
}
.estrutura img {
    width: 60%;
    position: absolute;
    top: 1550px;
    right: 0px;
    border-radius: 140px 0px 0px 140px;
}
.tabs .hospital {
    font-size: 100px;
}

.footer-sup {
    display: flex;
    font-size: 20px;
    align-items: center;
    border-top: 1px solid green;
    border-bottom: 1px solid green;
    height: 200px;
}

.footer-sup img {
    width: 200px;
    margin-right: 100px;
}
.footer-sup h3 {
    font-size: 25px;
    color: #2b4d3f;
}

.footer-sup p {
    color: #3a8365;
    margin-top: 10px;
    padding-right: 15px;
}

.footer-inf {
    background-color: #109c62;
    height: 100%;
    padding: 50px 100px 100px 100px;
    display: flex;
    font-size: 20px;
    justify-content: space-around;
}
.footer-inf h3 {
    color: #f1f1f1;
    font-size: 30px;
    margin-bottom: 20px;
}

.footer-inf p {
    margin-top: 10px;
    color: #f1f1f1;
    background-color: #109c62;
}
.footer-inf a,
.tags a {
    text-decoration: none;
}
