/* Arquivo responsivo mobile */

.services {
  width: 100vw;
  height: 100%;
  margin: 0;
}
.services .tags {
  display: flex;
  flex-direction: column;
}
.services .results,
.boletos,
.dados,
.preparo {
  width: 100vw;
}

.estrutura {
  display: flex;
  flex-direction: column;
  height: 80vh;
  align-items: center;
  justify-content: flex-start;
  margin-top: 6.25rem;
}
.estrutura p {
  font-size: 1.275rem;
  width: 80vw;
  margin: 0 auto;
  justify-content: center;
  text-align: justify;
}

.estrutura img {
  position: static;
  border-radius: 10%;
  margin-top: 1.25rem;
  height: 18.75rem;
  width: 18.75rem;
}
