/* Arquivo responsivo mobile */
header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    height: auto;
}
header .linksHeader {
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

header button {
    margin-top: 1rem;
}
.home {
    height: fit-content;
}
.home > img {
    display: none;
}

.home .title {
    font-size: 1rem;
    margin: 0 1rem 3rem 0;
}

.services {
    width: 100vw;
    height: 100%;
    margin: 0;
}
.services .tags {
    display: flex;
    flex-direction: column;
}
.services .results,
.boletos,
.dados,
.preparo {
    width: 100vw;
}

.estrutura {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.estrutura p {
    font-size: 1.275rem;
    width: 100%;
    text-align: justify;
}

.estrutura img {
    position: relative;
    border-radius: 10%;
    margin: 1.25rem 0;
    max-width: 18.75rem;
    width: 100%;
}

.footer-sup {
    flex-direction: column;
}

.footer-inf {
    flex-direction: column;
}
