@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&display=swap');

* {
  padding: 0;
  font-family: 'Poppins', sans-seri;
  margin: 0;
}
header {
  display: flex;
  background-color: #f1f1f1a1;
  height: 100px;
  width: 100%;
}
header img {
  width: 150px;
  position: absolute;
  top: 5px;
  left: 10px;
}

.linksHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Poppins', sans-seri;
  font-weight: 500;
}

header a {
  margin: 0px 20px;
  color: #008037;
  text-decoration: none;
}

header a:hover {
  color: #000;
  transform: scale(1.1);
}

header a:nth-child(4) {
  color: #f1f1f1;
  background-color: #008037;
  width: 120px;
  height: 50px;
  font-size: large;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 15px;
  margin: 0px 40px;
}

header a:nth-child(4):hover {
  background-color: #000000;
  transition: 0.5s;
  color: #ffffff;
}

.login {
  height: 800px;
  display: flex;
  font-size: 30px;
  flex-direction: column;
  justify-content: center;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(34, 75, 79, 1) 56%
  );
  color: #fff;
  align-items: center;
}

.login form {
  padding: 70px;
}
.login h2 {
  position: absolute;
  top: 350px;
  left: 780px;
  font-size: 25px;
  border-bottom: #f1f1f1 1px solid;
}
.login input {
  background: none;
  border-bottom: 0.5px solid white;
  border-top: none;
  border-left: none;
  color: #f1f1f1;
  border-right: none;
  padding: 10px 0px;
  margin: 8px;
  width: 350px;
}
.login input::placeholder {
  color: rgb(219, 213, 213);
  font-size: 15px;
}
.login a {
  font-size: 15px;
  text-decoration: none;
  color: #f1f1f1;
  background-color: #109c62;
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
}
.login a:hover {
  background-color: transparent;
  border: 0.5px solid white;
  cursor: pointer;
}

.footer-sup {
  display: flex;
  font-size: 20px;
  align-items: center;
  border-top: 1px solid green;
  border-bottom: 1px solid green;
  height: 200px;
}

.footer-sup img {
  width: 200px;
  margin-right: 100px;
}
.footer-sup h3 {
  font-size: 25px;
  color: #2b4d3f;
}

.footer-sup p {
  color: #3a8365;
  margin-top: 10px;
  padding-right: 15px;
}

.footer-inf {
  background-color: #109c62;
  height: 100%;
  padding: 50px 100px 100px 100px;
  display: flex;
  font-size: 20px;
  justify-content: space-around;
}
.footer-inf h3 {
  color: #f1f1f1;
  font-size: 30px;
  margin-bottom: 20px;
}

.footer-inf p {
  margin-top: 10px;
  color: #f1f1f1;
  background-color: #109c62;
}
.footer-inf a,
.tags a {
  text-decoration: none;
}
